a {
  text-decoration: none;
  color: currentColor;
}

section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  max-width: 960px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.column {
  padding-left: 15px;
  padding-right: 15px;
}
