.project-wrap {
  background-color: lightgray;
}

.project-wrap .column {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 33.33%;
}

.project-panel-inner {
  background-color: rgba(0,0,0,0.75);
  color: white;
  padding: 15px;
  height: 250px;
}
