.project-wrap {
  background-color: lightgray;
}

.project-wrap .column {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 90%;
   margin: 0 auto;
}

.project-panel-inner {
  background-color: rgba(0,0,0,0.75);
  color: white;
  padding: 15px;
  height: 250px;
}

@media (min-width: 768px){
    .project-excerpt{
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
  	}

    .project-panel-inner:hover .project-excerpt{
        visibility: visible;
        opacity: 1;
    }
	

}


